.brand-logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: white;
}
.navb {
  /* overflow-x: hidden; */
  background-image: url("https://pixy.org/src/21/219269.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-background {
  background-image: url("https://pixy.org/src/21/219269.jpg");
  background-position: top;
}
